.pokemonCardContainer {
  background-color: white;
  margin: 3rem 0rem 0rem 0rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  .wrapperIndexName {
    display: flex;
    justify-content: center;
  }
}

.pokemonListContainer {
  margin: 2rem 5rem 5rem 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 5rem;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr 1fr;
  }
}
